<div class="container px-5 px-sm-0">
  <div class="row">
      
      <!--User Info-->
      <%= render 'shared/userinfo', user: @user %>
      
      <!--投稿フォーム-->
      <%= render 'shared/newbook', book: @book %>
      
      <!--User投稿一覧-->
      <%= render 'shared/books', books: @books %>
  
  </div>
</div>